<!-- Serves the BrowserTestJS testing page. -->
<!DOCTYPE html>
<html lang="en" class="h-100">

<body>
	<div>
<!-- Styles should work for mobile. -->
		<iframe src="./BrowserTestJS/test.html" seamless style="
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
    height: 100%;
		"></iframe>

	</div>
</body>

</html>